<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LearnAutomation">
  <test name="Smoke">
    <classes>
      <class name="jan_21.SkipTest"/>
      <class name="jan_21.SoftAssertDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
